<po-page-default [p-title]="page.title" [p-actions]="page.actions">

    <form [formGroup]="osForm" class="po-row" (keyup.enter)="buscar(osForm.value)">
        <po-input class="po-sm-6 po-md-2 po-lg-1" p-label="OS" formControlName="id"></po-input>
        <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="Nome Cliente" formControlName="nomeCliente"></po-input>
        <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="CPF / CNPJ" formControlName="cpfCnpj" p-mask="99999999999999???"></po-input>
        <po-input class="po-sm-6 po-md-3 po-lg-3" p-label="Observações" formControlName="observacoes"></po-input>
        <po-select class="po-sm-6 po-md-3 po-lg-2" p-label="Veiculo" [p-options]="selects.veiculos" formControlName="idVeiculo"></po-select>
        <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="Placa" p-maxlength="7" formControlName="placa"></po-input>
        <po-select class="po-sm-6 po-md-3 po-lg-2" p-label="Usuário" [p-options]="selects.usuarios" formControlName="idUsuario"></po-select>
        <po-select class="po-sm-6 po-md-3 po-lg-2" p-label="Status" [p-options]="selects.status" formControlName="isFinalizado"></po-select>
        <po-button class="po-sm-12 po-md-3 po-lg-2 po-mt-4" p-label="Buscar" (click)="buscar(osForm.value)"></po-button>
    </form>

    <po-table 
        p-single-select
        p-selectable
        p-sort="true"
        p-striped="true"
        [p-columns]="table.columns" 
        [p-items]="table.items"
        (p-selected)="selected($event)"
        (p-unselected)="unSelected($event)"
        [p-height]="table.height"></po-table>

    <po-loading-overlay *ngIf="loading"
        p-screen-lock="true"
        p-text="Carregando">
    </po-loading-overlay>

</po-page-default>