<po-page-default [p-title]="page.title" [p-actions]="page.actions">

    <po-divider p-label="Dados Cliente"></po-divider>

    <form [formGroup]="osAddForm" class="po-row">
        <po-input class="po-sm-6 po-md-3 po-lg-3" p-label="Nome Cliente" formControlName="nomeCliente"></po-input>
        <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="CPF / CNPJ" formControlName="cpfCnpj"></po-input>
        <po-input class="po-sm-6 po-md-3 po-lg-1" p-label="DDD" formControlName="ddd"></po-input>
        <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="Telefone" formControlName="telefone"></po-input>
        <po-select class="po-sm-6 po-md-3 po-lg-2" p-label="Veículo" [p-options]="selects.veiculos" formControlName="idVeiculo"></po-select>
        <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="Responsável" formControlName="idUsuario" p-readonly="true"></po-input>
        <po-textarea class="po-sm-12 po-md-12 po-lg-12" p-label="Observações" formControlName="observacoes"></po-textarea>
    </form>

</po-page-default>