<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">

    <form [formGroup]="veiculosForm">

        <div class="po-row">
            <po-input class="po-md-2" [p-disabled]="disabledFields || disabledId" p-label="Id" p-required="true" formControlName="id"></po-input>
            <po-input class="po-md-2" [p-disabled]="disabledFields" p-label="Marca" p-required="true" formControlName="marca"></po-input>
            <po-input class="po-md-2" [p-disabled]="disabledFields" p-label="Modelo" p-required="true" formControlName="modelo"></po-input>
            <po-input class="po-md-2" [p-disabled]="disabledFields" p-label="Ano Veículo" p-required="true" formControlName="ano"></po-input>
            <po-input class="po-md-2" [p-disabled]="disabledFields" p-label="Tipo Combustível" p-required="true" formControlName="tipoCombustivel"></po-input>
            <po-select class="po-md-2" [p-disabled]="disabledFields" p-label="Ativo" p-required="true" formControlName="active" [p-options]="selects.ativoOptions" ></po-select>
        </div>
    </form>

    <po-loading-overlay *ngIf="loading"
    p-screen-lock="true"
    p-text="Carregando">
</po-loading-overlay>


</po-page-default>