<po-page-default>

    <po-container>

        <po-divider p-label="Ordens de Serviços - OS"></po-divider>

        <po-widget class="po-sm-12 po-md-3 po-lg-3 po-mb-1" p-title="Total OS">
            <div class="po-font-subtitle po-text-center">Valor: {{dados.totalOS | currency: 'BRL' }}</div>
            <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeOS}}</div>
        </po-widget>

        <po-widget class="po-sm-12 po-md-3 po-lg-3 po-mb-1" p-title="Total OS Andamento">
            <div class="po-font-subtitle po-text-center">Valor: {{dados.totalOSAndamento | currency: 'BRL' }}</div>
            <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeOSAndamento}}</div>
        </po-widget>

        <po-widget class="po-sm-12 po-md-3 po-lg-3 po-mb-1" p-title="Total OS Finalizada">
            <div class="po-font-subtitle po-text-center">Valor: {{dados.totalOSFinalizada | currency: 'BRL' }}</div>
            <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeOSFinalizada}}</div>
        </po-widget>

        <po-widget class="po-sm-12 po-md-3 po-lg-3 po-mb-1" p-title="Total OS Cancelada">
            <div class="po-font-subtitle po-text-center">Valor: {{dados.totalOSCancelada | currency: 'BRL' }}</div>
            <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeOSCancelada}}</div>
        </po-widget>
    </po-container>

    <po-loading-overlay *ngIf="loading"
        p-screen-lock="true"
        p-text="Carregando">
    </po-loading-overlay>

</po-page-default>