<po-page-default>

    <div class="po-row">
        <po-container class="po-sm-12 po-md-12 po-lg-12 po-mb-2">

            <po-divider class="po-sm-12 po-md-12 po-lg-12" p-label="Ordens de Serviços - OS"></po-divider>

            <po-widget class="po-sm-12 po-md-3 po-lg-3 po-mb-1" p-title="Total">
                <div class="po-font-subtitle po-text-center">Valor: {{dados.totalOS | currency: 'BRL' }}</div>
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeOS}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-3 po-lg-3 po-mb-1" p-title="Em Andamentos">
                <div class="po-font-subtitle po-text-center">Valor: {{dados.totalOSAndamento | currency: 'BRL' }}</div>
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeOSAndamento}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-3 po-lg-3 po-mb-1" p-title="Finalizadas">
                <div class="po-font-subtitle po-text-center">Valor: {{dados.totalOSFinalizada | currency: 'BRL' }}</div>
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeOSFinalizada}}
                </div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-3 po-lg-3 po-mb-1" p-title="Canceladas">
                <div class="po-font-subtitle po-text-center">Valor: {{dados.totalOSCancelada | currency: 'BRL' }}</div>
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeOSCancelada}}</div>
            </po-widget>

        </po-container>

    </div>

    <div class="po-row">

        <po-container class="po-sm-12 po-md-12 po-lg-6 po-mb-2">

            <po-divider class="po-sm-12 po-md-12 po-lg-12" p-label="Mão de Obras"></po-divider>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Total">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeMao}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Ativas">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeMaoAtiva}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Inativas">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeMaoInativa}}</div>
            </po-widget>
        </po-container>

        <po-container class="po-sm-12 po-md-12 po-lg-6 po-mb-2">

            <po-divider class="po-sm-12 po-md-12 po-lg-12" p-label="Peças"></po-divider>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Total">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadePeca}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Ativas">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadePecaAtiva}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title=" Inativas">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadePecaInativa}}</div>
            </po-widget>
        </po-container>

    </div>

    <div class="po-row">

        <po-container class="po-sm-12 po-md-12 po-lg-6 po-mb-2">

            <po-divider class="po-sm-12 po-md-12 po-lg-12" p-label="Veículos"></po-divider>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Total">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeVeiculo}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Ativos">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeVeiculoAtiva}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Inativos">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeVeiculoInativa}}</div>
            </po-widget>

        </po-container>

        <po-container class="po-sm-12 po-md-12 po-lg-6 po-mb-2">


            <po-divider class="po-sm-12 po-md-12 po-lg-12" p-label="Usuários"></po-divider>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Total">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeUser}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Ativos">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeUserAtiva}}</div>
            </po-widget>

            <po-widget class="po-sm-12 po-md-4 po-lg-4 po-mb-1" p-title="Inativos">
                <div class="po-text-center sample-container-dashboard">Quantidade: {{dados.quantidadeUserInativa}}</div>
            </po-widget>
        </po-container>

    </div>

    <po-loading-overlay *ngIf="loading" p-screen-lock="true" p-text="Carregando">
    </po-loading-overlay>

</po-page-default>