<po-page-default [p-title]="page.title" [p-actions]="page.actions" [p-breadcrumb]="page.breadcrumb">

    <form [formGroup]="usuariosForm">

        <div *ngIf="tipoTela == 'add' " class="po-row">
            <po-input class="po-md-1" [p-readonly]="disabledFields || disabledId" p-label="Id" formControlName="id"></po-input>
            <po-input class="po-md-3" [p-readonly]="disabledFields" p-label="Nome Completo" p-required="true" formControlName="userName"></po-input>
            <po-email class="po-md-3" [p-readonly]="disabledFields" formControlName="email" p-label="E-mail"></po-email>
            <po-password class="po-md-3" [p-readonly]="disabledFields" p-error-pattern="A senha deve possuir pelo menos de 6 caracteres e no máximo 12 " formControlName="password"  p-label="Senha"></po-password>
            <po-select class="po-md-2" [p-readonly]="disabledFields || disabledId" p-label="Ativo" formControlName="active" [p-options]="selects.ativoOptions" ></po-select>
        </div>

        <div *ngIf="tipoTela != 'add' " class="po-row">
            <po-input class="po-md-1" [p-readonly]="disabledFields || disabledId" p-label="Id" formControlName="id"></po-input>
            <po-input class="po-md-3" [p-readonly]="disabledFields" p-label="Nome Completo" p-required="true" formControlName="userName"></po-input>
            <po-email class="po-md-3" [p-readonly]="disabledFields" formControlName="email" p-label="E-mail"></po-email>
            <po-password class="po-md-3" [p-readonly]="disabledFields" p-error-pattern="A senha deve possuir pelo menos de 6 caracteres e no máximo 12 " formControlName="password"  p-label="Senha"></po-password>
            <po-select class="po-md-2" [p-readonly]="disabledFields" p-label="Ativo" formControlName="active" [p-options]="selects.ativoOptions" ></po-select>
        </div>
    </form>

    <po-loading-overlay *ngIf="loading"
    p-screen-lock="true"
    p-text="Carregando">
</po-loading-overlay>

</po-page-default>