<po-page-default [p-title]="page.title" [p-actions]="page.actions">

    <po-divider p-label="Cabeçalho"></po-divider>

    <form [formGroup]="osAddForm" class="po-row">
        <po-input class="po-sm-6 po-md-3 po-lg-3" p-label="Nome Cliente" p-readonly="true" p-clean formControlName="nomeCliente"></po-input>
        <po-datepicker class="po-sm-6 po-md-3 po-lg-2" p-label="Data Entrada" formControlName="entrada" p-readonly="true"></po-datepicker>
        <po-select class="po-sm-6 po-md-3 po-lg-2" p-label="Tipo Pessoa" [p-options]="selects.tipoPessoa" [p-readonly]="tipoRelatorio == 'view'" formControlName="tipoPessoa"></po-select>
        <po-input class="po-sm-6 po-md-3 po-lg-2" [p-label]="labelPessoa" [p-readonly]="tipoRelatorio == 'view'" [p-mask]="mask" p-clean formControlName="cpfCnpj"></po-input>
        <po-input class="po-sm-6 po-md-3 po-lg-1" p-label="DDD" [p-readonly]="tipoRelatorio == 'view'" p-mask="99" p-clean formControlName="ddd"></po-input>
        <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="Telefone" [p-readonly]="tipoRelatorio == 'view'" p-mask="99999?-9999" p-clean formControlName="telefone"></po-input>
        <po-select class="po-sm-6 po-md-3 po-lg-2" p-label="Veículo" [p-options]="selects.veiculos" p-readonly="true" formControlName="idVeiculo"></po-select>
        <po-input class="po-sm-6 po-md-2 po-lg-2" p-label="Placa" p-maxlength="7" p-minlength="7" p-readonly="true" formControlName="placa"></po-input>
        <po-datepicker class="po-sm-6 po-md-3 po-lg-2" *ngIf="controls.isFinalizado.value" p-label="Data Saída" p-readonly="true" formControlName="saida"></po-datepicker>
        <po-input class="po-sm-6 po-md-3 po-lg-2" p-label="Responsável" p-readonly="true" p-clean formControlName="idUsuario"></po-input>
        <po-textarea class="po-sm-12 po-md-12 po-lg-12" p-label="Observações" [p-readonly]="tipoRelatorio == 'view'" formControlName="observacoes"></po-textarea>
    </form>


    <div>

        <po-divider p-label="Mão de Obra"></po-divider>
        <form [formGroup]="maoObraForm" class="po-row" *ngIf="tipoRelatorio != 'view'">
            <po-select class="po-sm-6 po-md-4 po-lg-4" p-label="Mão De Obra" [p-options]="selects.maoDeObra" formControlName="idMaoDeObra"></po-select>
            <po-number class="po-sm-6 po-md-4 po-lg-4" p-label="Qtd Mão De Obra" formControlName="quantidade" p-clean></po-number>
            <po-button class="po-sm-12 po-md-4 po-lg-4 po-mt-4" p-label="Adicionar" p-icon="po-icon po-icon-ok" [p-disabled]="maoObraForm.invalid" (click)="addMaoObra(maoObraForm.value)"></po-button>

        </form>
        <po-table
            p-striped="true"
            [p-columns]="tableMao.columns"
            [p-items]="tableMao.items"
            [p-actions]="tableMao.actions"></po-table>
            <po-info class="po-mt-2" p-label="Valor Mão de Obra" p-orientation="horizontal" p-value="{{controls.totalMaoDeObra.value | currency:'BRL' }}"></po-info>

    </div>

    <div>
        <po-divider p-label="Peças"></po-divider>
        <form [formGroup]="pecasForm" class="po-row" *ngIf="tipoRelatorio != 'view'">
            <po-select class="po-sm-6 po-md-4 po-lg-4" p-label="Peças" [p-options]="selects.pecas" formControlName="idPecas"></po-select>
            <po-number class="po-sm-6 po-md-4 po-lg-4" p-label="Qtd Mão De Obra" formControlName="quantidade" p-clean></po-number>
            <po-button class="po-sm-12 po-md-4 po-lg-4 po-mt-4" p-label="Adicionar" p-icon="po-icon po-icon-ok" [p-disabled]="pecasForm.invalid" (click)="addPeca(pecasForm.value)"></po-button>
        </form>
        <po-table
            p-striped="true"
            [p-columns]="tablePeca.columns"
            [p-items]="tablePeca.items"
            [p-actions]="tablePeca.actions"></po-table>
        <po-info class="po-mt-2" p-label="Valor Peças" p-orientation="horizontal" p-value="{{controls.totalPecas.value | currency:'BRL' }}"></po-info>
    </div>

    <po-divider p-label="Total"></po-divider>

    <po-info class="po-mt-2" p-label="Valor Total" p-orientation="horizontal" p-value="{{controls.totalServico.value | currency:'BRL' }}"></po-info>

    <po-loading-overlay *ngIf="loading"
        p-screen-lock="true"
        p-text="Carregando">
    </po-loading-overlay>


</po-page-default>